.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 80px auto;
}

.cards .folder__left {
  background-color: var(--cream-color);
  width: 30%;
  height: 500px;
  position: relative;
  border-radius: 0 15px 15px 15px;
  color: var(--black-color);
  display: flex;
  justify-content: center;
  text-align: center;
}

.cards .folder__left::after {
  content: " ";
  position: absolute;
  top: -20px;
  left: 0;
  height: 25px;
  width: 40%;
  border-radius: 15px 27px 0 0;
  background-color: var(--cream-color);
}

.cards .folder__left .content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}
.cards .folder__left .content .header__paragraph {
  font-size: 38px
}

.cards .folder__left .content .header__paragraph strong {
  font-size: 68px
}

.cards .folder__right {
  background-color: var(--cyan-color);
  width: 60%;
  height: 500px;
  position: relative;
  border-radius: 15px 0 15px 15px;
}

.folder__right::after {
  content: " ";
  position: absolute;
  top: -20px;
  right: 0;
  height: 40px;
  width: 40%;
  background-color: var(--cyan-color);
  border-radius: 27px 15px 0 0;
}

.folder__right .content .image {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 996px) {
  .cards {
    flex-direction: column;
    gap: 40px;
  }

  .folder__left {
    width: 48%;
  }

  .folder__right {
    width: 95%;
  }
}

@media screen and (max-width: 768px) {
  .folder__left {
    width: 95%;
  }
}