.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 80px auto;
}

.folder__left {
  background-color: var(--cream-color);
  width: 30%;
  height: 500px;
  position: relative;
  border-radius: 0 15px 15px 15px;
}

.folder__left::after {
  content: " ";
  position: absolute;
  top: -20px;
  left: 0;
  height: 25px;
  width: 40%;
  border-radius: 15px 27px 0 0;
  background-color: var(--cream-color);
}

.folder__right {
  background-color: var(--cyan-color);
  width: 60%;
  height: 500px;
  position: relative;
  border-radius: 15px 0 15px 15px;
}

.folder__right::after {
  content: " ";
  position: absolute;
  top: -20px;
  right: 0;
  height: 40px;
  width: 40%;
  background-color: var(--cyan-color);
  border-radius: 27px 15px 0 0;
}

@media screen and (max-width: 996px) {
  .cards {
    flex-direction: column;
    gap: 40px;
  }
  .folder__left {
    width: 48%;
  }
  .folder__right {
    width: 95%;
  }
}

@media screen and (max-width: 768px) {
  .folder__left {
    width: 95%;
  }
}